@media (max-width: 575px) {
  .cd-words-wrapper {
    position: relative;
    text-align: left;
    font-family: 'Montserrat';
    text-decoration: underline solid #ffd200;
    font-size: calc(1.475rem);
  }
}

@media (min-width: 576px) {
  .cd-words-wrapper {
    position: relative;
    text-align: left;
    font-family: 'Montserrat';
    text-decoration: underline solid #ffd200;
    font-size: calc(1.475rem + 2vw)!important;
    margin-right: 2px;
  }
}

@media (min-width: 300px) {
  .cd-words-wrapper b {
    position: absolute;
    white-space: nowrap;
    left: 10px;
    top: 0;
    text-decoration: underline solid #ffd200;
    color: rgb(0,160,160);
    font-weight: 700 !important;
  }
}

@media (max-width: 575px) {
  .blc {
    font-family: 'Montserrat';
    color: #282846;
    font-size: calc(1.475rem);
    font-weight: 700 !important;
  }
}

@media (min-width: 576px) {
  .blc {
    font-family: 'Montserrat';
    color: #282846;
    font-size: calc(1.475rem + 2vw);
    font-weight: 700 !important;
  }
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}

b, strong {
  font-weight: 400!important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.my-4 a:hover {
  color: #282846!important;
}

#profile {
  width: 100%;
  height: auto;
}

p:hover {
  color: #282846;
}

