*, *::before, *::after {
  box-sizing: border-box;
}

a:hover {
  color: #FED049;
}

a:hover {
  color: #282846;
}

.fab.fa-linkedin:hover {
  color: #fed049;
}

.social-icons {
  color: #282846!important;
  background-color: #fff;
  text-align: center;
}

@media (max-width:767px) {
  .social-icons {
    padding-bottom: 50px;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #757980;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.icon {
  margin: 0px;
}

.icon.ion-social-github:hover {
  color: #FED049;
}

.fab.fa-behance-square:hover {
  color: #FED049;
}

.fab.fa-behance-square, .icon.ion-social-github, .fab.fa-linkedin {
  color: #282846;
}

.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: center;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

a {
  border-color: #00a0a0;
}

.social-icons {
  background-color: rgba(255,255,255,0)!important;
}

